@{
	ViewBag.Title = "RTS Log Parsing Project";
}

<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">

			<div class="text-center m-t-lg">
				<h1>Current Metrics From Log</h1>
				<small>Don't worry, be happy.</small>
			</div>

		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>All Message Data</h3>
				</div>
				<div class="panel-body" data-chart="messageData">
					@Html.Partial("_Loading")
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>All Message Percentage Data</h3>
				</div>
				<div class="panel-body" data-chart="messageDataPerc">
					@Html.Partial("_Loading")
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>All Message Class Data</h3>
				</div>
				<div class="panel-body" data-chart="messageClassData">
					@Html.Partial("_Loading")
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Top Sending IP Addresses</h3>
				</div>
				<div class="panel-body" data-table="topSendingIPs">@Html.Partial("_Loading")</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="tabs-container">

				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="#topCountries" aria-controls="topCountries" role="tab" data-toggle="tab">Top 10 Countries</a></li>
					<li role="presentation"><a href="#topCountryMessages" aria-controls="topCountries" role="tab" data-toggle="tab">of Message Type</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="topCountries">
						<div data-chart="topCountries">@Html.Partial("_Loading")</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="topCountryMessages">
						<div><select id="topCountryMessageSelect" data-ajax-load="messageClasses"></select></div>
						<div data-chart="topCountryMessages">@Html.Partial("_Loading")</div>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>

@section Styles {
	@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
	@Scripts.Render("~/plugins/chartJs")
	@Scripts.Render("~/plugins/jqcanvasjs")
	@Scripts.Render("~/plugins/dataTables")

	<script>
		(function () {

			var messageChart, messageChartPerc;
			var charts = [];

			LoadMetrics("@Url.Action("GetMessageMetrics", "Records")", function (data) {

				var chartDiv = $('<div/>')
					.attr("id", "messageData")
					.css({
						width: '100%',
						height: '350px'
					});

				var chartPercDiv = chartDiv.clone();
				chartPercDiv.attr("id", "messageDataPerc");

				$('[data-chart="messageData"]').empty().append(chartDiv);
				$('[data-chart="messageDataPerc"]').empty().append(chartPercDiv);

				var chartData = {
					data: [],
					toolTip: { shared: true },
					//rangeChanged: SyncHandler,
					zoomEnabled: true,
					zoomType: "x",
				};
				var chartPercData = $.extend(true, {}, chartData);

				$.each(data.data, function (index, value) {

					var dataSet = { type: "stackedColumn", dataPoints: [] },
						dataPercSet = {
							type: "stackedColumn100",
							toolTipContent: "<span style='\"'color: {color};'\"'>{name}:</span> {y} (#percent %)",
							dataPoints: []
						};

					$.each(value, function (time, count) {
						var d = {
							x: new Date(Number(time)),
							y: count,
							name: index
						};
						dataSet.dataPoints.push(d);
						dataPercSet.dataPoints.push(d);
					});

					chartData.data.push(dataSet);
					chartPercData.data.push(dataPercSet);

				});

				chartDiv.CanvasJSChart(chartData);
				chartPercDiv.CanvasJSChart(chartPercData);

				charts.push($('#messageData').CanvasJSChart());
				charts.push($('#messageDataPerc').CanvasJSChart());

			});

			LoadMetrics("@Url.Action("GetMessageClassMetrics", "Records")", function (data) {

				var chartDiv = $('<div/>')
					.attr("id", "messageClassData")
					.css({
						width: '100%',
						height: '350px'
					});

				$('[data-chart="messageClassData"]').empty().append(chartDiv);

				var dataPoints = [];
				$.each(data, function (index, obj) {
					dataPoints.push({
						y: obj.count,
						indexLabel: obj.messageClass
					});
				});

				var chartData = {
					data: [{
						type: "doughnut",
						dataPoints: dataPoints
					}],
					//animationEnabled: true,
				};

				chartDiv.CanvasJSChart(chartData);
			});

			LoadMetrics("@Url.Action("GetTopSendingIPs", "Records")", function (data) {

				var table = $('<table/>')
					.attr("id", "topSendingIPTable")
					.addClass("table table-striped table-bordered table-hover");
				var tHead = $('<thead/>');
				var tBody = $('<tbody/>');
				var tHeaders = $('<tr/>')
					.append($('<th/>').text('Sending IP'))
					.append($('<th/>').text('Count'));

				tHead.append(tHeaders);

				$.each(data, function (index, obj) {

					var tRow = $('<tr/>')
						.append($('<td/>').text(obj.sendingIP))
						.append($('<td/>').text(obj.count));

					tBody.append(tRow);
				});

				table.append(tHead);
				table.append(tBody);

				table.DataTable();

				table.insertAfter($('[data-table="topSendingIPs"]').empty());
				$('[data-table="topSendingIPs"]').remove();

			});

			LoadMetrics("@Url.Action("GetTopSendingCountries", "Records")", function (data) {

				var chartDiv = $('<div/>')
					.attr("id", "topCountries")
					.css({
						width: '100%',
						height: '350px'
					});

				$('[data-chart="topCountries"]').empty().append(chartDiv);

				var dataPoints = [];
				$.each(data, function (index, obj) {
					dataPoints.push({
						y: obj.count,
						label: obj.country
					});
				});

				var chartData = {
					data: [{
						type: "column",
						dataPoints: dataPoints
					}],
				};

				chartDiv.CanvasJSChart(chartData);

			});

			// Events and Element Events

			$('#topCountryMessageSelect').on('change', function () {

				var msgClass = $(this).val();

				LoadMetricsWithData("@Url.Action("GetTopSendingCountriesOfMessageClass", "Records")", { msgClass: msgClass }, function (data) {

					var chartDiv = $('<div/>')
					.attr("id", "topCountryMessageType")
					.css({
						width: '100%',
						height: '350px'
					});

					$('[data-chart="topCountryMessages"]').empty().append(chartDiv);

					var dataPoints = [];
					$.each(data, function (index, obj) {
						dataPoints.push({
							y: obj.count,
							label: obj.country
						});
					});

					var chartData = {
						data: [{
							type: "column",
							dataPoints: dataPoints
						}],
					};

					chartDiv.CanvasJSChart(chartData);

				});

			});


			// Utils

			$('select[data-ajax-load]').each(function () {
				var elem = $(this);
				var loadWhat = elem.data('ajax-load');
				switch (loadWhat) {
					case "messageClasses":
						LoadMetrics("@Url.Action("GetMessageClasses", "Records")", function (data) {
							$.each(data, function (i, obj) {
								$('<option/>').text(obj).appendTo(elem);
							});
						});
						break;
				}
			});


			function LoadMetrics(url, onSuccess) {
				$.ajax({
					url: url,
					dataType: 'json',
					success: function (data) {
						var jData = JSON.parse(data);

						if (onSuccess)
							onSuccess(jData);
					}
				});
			}

			function LoadMetricsWithData(url, params, onSuccess) {
				$.ajax({
					url: url,
					dataType: 'json',
					data: params,
					success: function (data) {
						var jData = JSON.parse(data);

						if (onSuccess)
							onSuccess(jData);
					}
				});
			}

		})();
	</script>

}