<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="logo-element">
					LP+
				</div>
			</li>
			<li class="@Html.IsSelected(controller:"Home")">
				<a href="@Url.Action("Index", "Home")"><i class="fa fa-laptop"></i> <span class="nav-label">Home</span> </a>
			</li>
			<li class="@Html.IsSelected(controller:"Analytics")">
				<a href="@Url.Action("Index", "Analytics")"><i class="fa fa-area-chart"></i> <span class="nav-label" data-i18n="nav.Records">Analytics</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Analytics", cssClass: "in")">
					<li class="@Html.IsSelected("Analytics", "Index")"><a href="@Url.Action("Index", "Queries")">Playground</a></li>
				</ul>
			</li>
			<li class="@Html.IsSelected(controller:"Queries")">
				<a href="@Url.Action("Index", "Queries")"><i class="fa fa-area-chart"></i> <span class="nav-label" data-i18n="nav.Records">Queries</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Queries", cssClass: "in")">
					<li class="@Html.IsSelected("Queries", "Index")"><a href="@Url.Action("Index", "Queries")">New Query</a></li>
				</ul>
			</li>
			<li class="@Html.IsSelected(controller:"Records")">
				<a href="@Url.Action("Index", "Records")"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.Records">Records</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Records", cssClass: "in")">
					<li class="@Html.IsSelected("Records", "Index")"><a href="@Url.Action("Index", "Records")">All Records</a></li>
					<li class="@Html.IsSelected("Records", "SampleGraph")"><a href="@Url.Action("SampleGraph", "Records")">Sample Graph</a></li>
                    <li class="@Html.IsSelected("Records", "Manage")"><a href="@Url.Action("Manage", "Records")">Management</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>