
<div class="wrapper wrapper-content">

	<div class="row">

		<div class="col-md-12">

			<!-- Some Chart that is based off the below data query -->
			@Html.Partial("_Loading")

		</div>

		<div class="col-md-12">

			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title">Data Table</h3>
				</div>

				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Start Date\Time</label>
								<div class="input-group date" id="start_date" data-input="datetimepicker">
									<input type="text" class="form-control" placeholder="Start date/time" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">End Date\Time</label>
								<div class="input-group date" id="end_date" data-input="datetimepicker">
									<input type="text" class="form-control" placeholder="End date/time" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover" data-url="@Url.Action("GetRecords","Records")" width="100%">
						<thead>
							<tr>
								<th data-field="TimestampUTC" data-can-filter="false" data-date-format="MM/DD/YYYY h:mm:ss A">Date\Time UTC</th>
								<th data-field="MessageClass" data-can-filter="true">Message Class</th>
								<th data-field="SendingIP" data-can-filter="true">Sending IP</th>
								<th data-field="ReceivingIP" data-can-filter="true">Receiving IP</th>
								<th data-field="Country" data-can-filter="true">Country</th>
							</tr>
						</thead>
						<tbody></tbody>
						<tfoot>
							<tr>
								<th></th>
								<th data-field="MessageClass">Message Class</th>
								<th data-field="SendingIP">Sending IP</th>
								<th data-field="ReceivingIP">Receiving IP</th>
								<th data-field="Country">Country</th>
							</tr>
						</tfoot>
					</table>
				</div>

			</div>


		</div>

	</div>

</div>


@section Styles {
	@Styles.Render("~/Content/bs-datetimepicker")
	@Styles.Render("~/Content/plugins/dataTables")

	<style>
		.table tbody tr td:not(:first-child) {
			text-decoration:underline;
			cursor:pointer
		}
	</style>

}

@section Scripts {
	@Scripts.Render("~/bundles/bs-datetimepicker")
	@Scripts.Render("~/plugins/dataTables")

	<script>
		(function () {

			$('[data-input="datetimepicker"]').datetimepicker({
				sideBySide: true,
				useCurrent: false
			});

			$("#start_date").on("keyup blur change dp.change", function (e) {
				$('#end_date').data("DateTimePicker").minDate(e.date);
				dTable.draw();
			});

			$("#end_date").on("keyup blur change dp.change", function (e) {
				$('#start_date').data("DateTimePicker").maxDate(e.date);
				dTable.draw();
			});


			// The base Table
			var table = $('table[data-url]');

			// Addin search inputs to the footer of each column that has a data-field
			table.find('tfoot tr th[data-field]').each(function () {
				var title = $(this).text();
				$(this).html($("<input/>", { type: "text", placeholder: "Search " + title }));
			});

			// Generate the crazy DataTable
			var dTable = table.DataTable({
				processing: true, // Show a loading overlay
				serverSide: true, // Disables client side filtering, requires the server to do it all
				responsive: true, // Not sure if this even works...

				// The ajax-y feel to the table
				ajax: {
					url: table.data('url'),
					dataType: 'json',
					type: "POST",
					// The following are extra fields added to the underlying data object
					data: function (d) {
						var fromDate = $('#start_date').data("DateTimePicker").date();
						var toDate = $('#end_date').data("DateTimePicker").date()

						d.fromDate = fromDate ? fromDate.toISOString() : null;
						d.toDate = toDate ? toDate.toISOString() : null;
						return d;
					}
				},

				// Loading in the columns we care, and then have some subtle rendering
				columns: $('thead tr th[data-field]').map(function () {

					var config = {
						data: $(this).data('field'),
						name: $(this).text(),
						searchable: $(this).data('can-filter') == true
					}

					// Date field requires special treatment
					if ($(this).data('date-format')) {
						var format = $(this).data('date-format');
						config['render'] = function (data, type, full, meta) {
							return moment(data).format(format);
						};
					}

					return config;
				})
			});

			// When they click on a cell, I want to do a strict search on what they clicked by adding it the footer input.
			dTable.on('click', 'td', function (e) {
				var cell = dTable.cell(this);
				var cell_clicked = cell.data();
				var column_footer = dTable.column(this).footer();
				$(column_footer).find('input').val("\"" + cell_clicked + "\"").trigger("change");
			});

			// Since the inputs don't have knowlege of the column to perform a search on, 
			// use the jQuery DataTable's columns() call to get all the columns, and add the event to the input
			dTable.columns().every(function () {
				var self = this;
				$('input', self.footer()).on('keyup change', function () {
					self.search(this.value).draw();
				});
			});

		})();


	</script>
}
