@model CountryMetricDetails
@{
    ViewBag.Title = $"{Model.Name} Details";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <h1>@Model.Name</h1>

    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <table class="table table-condensed table-striped table-hover">
                    <tbody>
                        <tr><td>Country Code</td><td>@Model.CountryCode</td></tr>
                        <tr><td>Total Messages Sent</td><td>@Model.Total</td></tr>
                        <tr><td>Average Messages Sent</td><td>@Model.Average</td></tr>
                        <tr><td>Message Stnd. Deviation</td><td>@Model.StdDev</td></tr>
                        <tr><td>Most Sent Message</td><td>'@Model.MostUsed.Name' (@Model.MostUsed.Total)</td></tr>
                        <tr><td>Least Sent Message</td><td>'@Model.LeastUsed.Name' (@Model.LeastUsed.Total)</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Overall Messaging Trends</h3>
                </div>

                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Chart</a></li>
                        <li><a data-toggle="tab" href="#tab-2">Data</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="country-chart-container col-md-12" style="margin-bottom:50px">
                                    <div class="country-trend-chart" style="height:500px;" data-chart-data="@Json.Encode(Model.FlattenData)">
                                        @Html.Partial("_Loading")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <table class="datatable table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.FlattenData)
                                    {
                                        <tr>
                                            <td>@item.Timestamp.ToString("yyyy-MM-ddTHH:mm:ss")</td>
                                            <td>@item.Total</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Messages Sent by @Model.Name</h3>
                </div>
                
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-21">Chart</a></li>
                        <li><a data-toggle="tab" href="#tab-22">Data</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-21" class="tab-pane active">
                            <div class="panel-body">
                                <div class="messages-chart" style="height:500px;" data-chart-data="@Json.Encode(Model.Data)">
                                    @Html.Partial("_Loading")
                                </div>
                            </div>
                        </div>
                        <div id="tab-22" class="tab-pane">
                            <table class="datatable table table-condensed table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Message Class</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.Data)
                                    {
                                        <tr>
                                            <td>@item.Timestamp.ToString("yyyy-MM-ddTHH:mm:ss")</td>
                                            <td>@item.Name</td>
                                            <td>@item.Total</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables")
}

@section Scripts {
    @Scripts.Render("~/plugins/jqcanvasjs")
    @Scripts.Render("~/bundles/momentjs")
    @Scripts.Render("~/plugins/dataTables")

    <script>
        (function () {

            
            function LoadCountryChart()
            {
                var chartElem = $('.country-chart-container').find('.country-trend-chart');

                var chartData = Enumerable.From(chartElem.data('chart-data')).Select(function (e) {
                    var date = moment(e.Timestamp).toDate(); //new Date(parseInt(e.Date.substr(6)));
                    var total = e.Total;
                    return { x: date, y: total };
                });

                var regData = Enumerable.From(chartData).Select("[moment($.x).unix(), $.y]").ToArray();
                var rDataLine = regression('linear', regData);
                var lineData = Enumerable.From(rDataLine.points).Select("{x:moment.unix($[0]).toDate(), y:$[1]}").ToArray();


                var chartDataArray = chartData.ToArray();

                if (chartDataArray.length > 0) // Sanity
                    chartDataArray[chartDataArray.length - 1].markerSize = 10;

                var axisConfig = { tickLength: 0, margin: 0, lineThickness: 0, gridThickness: 0, valueFormatString: " " };

                chartElem.CanvasJSChart({
                    legend: {
                        cursor: "pointer",
                        itemclick: function (e) {
                            e.dataSeries.visible = !(typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible);
                            e.chart.render();
                        }
                    },
                    data: [
                        {
                            type: 'column',
                            //markerSize: 0,
                            dataPoints: chartDataArray,
                        },
                        {
                            type: "line",
                            markerSize: 0,
                            color: "gray",
                            dataPoints: lineData
                        }
                    ]
                });
            }

            function LoadMessageChart()
            {
                var chartElem = $('.messages-chart');
                var chartDataPrep = Enumerable.From(chartElem.data('chart-data'));

                var chartData = chartDataPrep.OrderBy("moment($.Timestamp).toDate()").GroupBy("$.Name", null, function (key, g) {
                    return {
                        type: "stackedColumn",
                        showInLegend: "true",
                        legendText: key,
                        dataPoints: g.OrderBy("moment($.Timestamp).toDate()").Select(function (e) {
                            return {
                                x: moment(e.Timestamp).toDate(),
                                y: e.Total,
                                name: key
                            };
                        }).ToArray()
                    }
                });
                
                chartElem.CanvasJSChart({
                    toolTip: { content: "{name}: {y}" },
                    legend: {
                        cursor: "pointer",
                        fontSize: 20,
                        fontFamily: "arial, helvetica, tahoma, helvetica neue",
                        itemclick: function (e) {
                            e.dataSeries.visible = !(typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible);
                            e.chart.render();
                        }
                    },
                    data: chartData.ToArray()
                });
            }


            LoadCountryChart();
            LoadMessageChart();

            $('.datatable').each(function () {
                $(this).DataTable({
                    columnDefs: [{
                        targets: 0,
                        render: $.fn.dataTable.render.moment('YYYY-MM-DDTHH:mm:ss', 'MM/DD/YYYY')
                    }]
                });
            });




        })();
    </script >
    }